<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="d-flex flex-column align-items-center"style="margin-top: 4rem;">
      <div class="d-flex align-items-center justify-content-center py-3 bg-body-tertiary w-25"> 
        <main class="form-signin w-75 m-auto">
            <form action="/signup" method="POST"> 
                <h1 class="h3 mb-4 fw-normal">Create New Account</h1>
                 <div class="form-floating mb-3">
                 <a href="/auth/google" style="text-decoration:none">
                  <div style="display:flex; align-items:center; background:#4285F4; color:white; padding:8px 12px; border-radius:4px; cursor:pointer;">
                  <img src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg" style="height:18px; margin-right:8px;">
                  Sign in with Google
                  </div>
                  </a>
                  </div>
                 <div class="form-floating mb-3"> <input type="text" class="form-control"name="namee" id="floatingInput"
                        placeholder="Enter your name" fdprocessedid="qoli2h" required> <label for="floatingInput">Name
                        </label>
                </div>
                <div class="form-floating mb-3"> <input type="email" class="form-control" name="email" id="floatingInput"
                        placeholder="name@example.com" fdprocessedid="qoli2h" required> <label for="floatingInput">Email
                        address</label>
                </div>
                <div class="form-floating mb-4"> <input type="password" class="form-control" name="password" id="floatingPassword"
                        placeholder="Password" fdprocessedid="djkg5e" required> <label for="floatingPassword">Password</label>
                </div>
                <div class="form-floating mb-4"> <input type="password" class="form-control" name="confirmPassword" id="confirmPassword"
                        placeholder="Confirm Password" fdprocessedid="djkg5e" required> <label for="confirmPassword">Confirm Password</label>
                </div>
                <button class="btn btn-primary w-100" type="submit" fdprocessedid="ceeile">Sign in</button>
                <p class="mt-4 mb-3 text-body-secondary">© 2017–2025</p>
            </form>
        </main>
        <script src="/docs/5.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
            class="astro-vvvwv3sm"></script> <span id="PING_IFRAME_FORM_DETECTION" style="display: none;"></span>
      </div>
      <div class="mt-2">
        <p>Already have an account <a href="\login">Sign In!</a></p>
      </div>
    </div>
</body>
</html>